* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Middle Earth PERSONAL USE', sans-serif;
    background-color: black;
    color: white;
}

header img {
    width: 100%;
    height: 30em;
}

