* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Middle Earth PERSONAL USE', sans-serif;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #f27d0c;
}

header {
    text-align: center;
    background-color: black;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

header img {
    display: none;
}

header h1 {
    font-size: 47px;
}

nav li {
    display: inline;
    margin: 0px 47px;
}

#about img {
    border-radius: 50%;
    width: 17%;
    height: 13em;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    header img {
        display: block;
        width: 100vw;
        height: 21em;
    }
  }
  